 <ul>
  <li><%= link_to 'Startseite', root_path %></li>
  <li><%= link_to 'Hohenrechberg', hohenrechberg_path %></li>
  <li><%= link_to 'Hohenstaufen', hohenstaufen_path %></li>
  <li><%= link_to 'Rosenstein', rosenstein_path %></li>
  <li><%= link_to 'Reußenstein', reussenstein_path %></li>
</ul>
